# Email Configuration
EMAIL_SENDER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password_here # To generate an app password: https://support.google.com/accounts/answer/185833

EMAIL_RECEIVER=recipient_email_1@gmail.com, recipient_email_2@gmail.com 
EMAIL_SUBJECT=Morning Update: U.S. Economic Trends (Past 24 Hours)

